.banner {
    background-image: url('../public/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    .nav__link {
        text-decoration: none;
        color: #ffffff;
    }

    .header {
        border-bottom: 1px solid #A1A1A1;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 50;

        .container {
            display: flex;
            justify-content: space-between;
        }

        .logo {
            display: flex;
            align-items: center;
            
            img {
                border-radius: 50%;
            }

            img {
                width: 60px;
            }
        }

        .nav {
            &__main {
                display: flex;
                align-items: center;
                color: #ffffff;
                margin-bottom: 0;
                font-weight: 500;
            }

            &__item {
                padding: 20px 20px;
                border-bottom: 2px solid rgba(255, 255, 255, 0);
                transition: border-bottom 0.2s linear;
                cursor: pointer;

                &:hover {
                    border-bottom: 2px solid #FFFFFF;
                }
            }
        }
    }

    .title {
        color: #ffff;
        text-align: center;
        padding-top: 150px;

        &__main {
            font-weight: 500;
        }

        &__text {
            font-size: 48px;
            font-weight: 800;
            line-height: 133.3%;
            margin-top: 20px;
        }
    }

    .social {
        margin-top: 50px;
        .social__item {
            width: 40px;
            transition: transform 0.2s linear;
            

            &:hover {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                 transform: scale(1.2);
            }
        }

        .social__link:not(:last-child) {
            margin-right: 20px;
            text-decoration: none;
        }
    }
}
