.main {
    background: #4e676b;
    padding-top: 50px;
     color: #ffffff;
     padding-bottom: 100px;
}

.courses {
    margin-top: 110px;
    text-align: center;
    .bold {
        font-weight: 700;
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 147%;
    }

    &__main {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        padding: 30px;
        background: #465a5d;
        width: 33%;
        border: 2px solid #ffffff;
        border-radius: 30px;
        transition: background 0.2s linear;

        &:hover {
            background: #8fa1a5;
        }

        &:not(:last-child) {
                   margin-right: 40px;
        }

        .courses__icon {
            
            height: 150px;
        }

        .courses__name {
            font-weight: 600;
            font-size: 18px;
            margin-top: 10px;
            border-bottom: 1px solid #ffffff;
            padding-bottom: 30px;
        }

        .courses__descr {
            margin-top: 10px;
            padding-top: 20px;
            padding-bottom: 30px;
            border-bottom: 1px solid #ffffff;
        }

        .courses__year {
            text-align: center;
            margin-top: 10px;
        }

        .courses__duration {
            margin-top: 5px;
            text-align: center;
        }
    }
}