@media only screen and (max-width:1024px) {
    .courses__item {
        width: 48%;
        
    }
    .courses__name {
            white-space: nowrap;
        }
}

@media only screen and (max-width:768px) {
    .why__main {
        display: flex;
        justify-content: space-between;
    }

    .why__item {
        width: 45%;
    }

    .courses__item {
        width: 80%;
        margin: 40px auto 0;
    }
}

@media only screen and (max-width:600px) {
    .why__item {
        width: 75%;
        margin: 30px auto 0;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .container .footer__item {
        margin: 0;
        margin-top: 30px;
        width: 75%;
        text-align: center;
    }

    .footer__link {
        justify-content: center;
    }

    .banner .title__text {
        font-size: 30px;
    }

    .header {
        display: none;
    }
}

@media only screen and (max-width:450px) {
    .why__title {
        font-size: 18px;
    }

    .courses__name {
        white-space: normal;
    }

    .banner .title__text {
        font-size: 18px;
    }

    .banner {
        min-height: 70vh;
    }
    
}